.title {
}
.item {
  width: 95vw;
  height: 70vh;
  align-items: center;
  text-align: center;
  
}

.image-slides {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.about {
  padding: 5%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  
}
.location-link:hover,
.location-link:focus {
  color: black;
}

.Booking-title {
  padding-top: 10px
}

.booking {
  background-color: #003566;
  color: white;
}

.what-happens-next {
  background-color: #003566;
  color: white;
}