.title {
}
.item {
  width: 95vw;
  height: 70vh;
  align-items: center;
  text-align: center;
}

.image-slides {
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px;
}

.about {
  padding: 5%;
}
.location-link:hover,
.location-link:focus {
  color: black;
}
