p {
  margin-bottom: 5px;
}
.card {
  width: 500px;
  margin: 10px;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card:hover,
.card:focus {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.data-wrap {
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
}
.data-name-wrap {
  width: 50%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.description {
  color: black;
  font-weight: 500;
}
.action-bar {
  position: absolute;
  top: 5%;
  right: 5%;
}
.action-button {
  background-color: transparent;
  color: #093250;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 6px;
  margin-right: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.action-button:hover,
.action-button:focus {
  background-color: #093250;
  color: white;
}

.add-button {
  display: block;
  margin: 5px auto;
  background-color: blue;
}
