.logo {
  height: 100px;
  width: 100px;
  /* margin-top: -10px; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-change {
  height: 30px;
  width: 80px;
  text-align: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.btn-change:hover {
  background-color: #003566;
  color: white;
}

a:hover {
  color: white;
  text-decoration: none;
}

.btn-space {
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}

.nav-text {
  font-family: "Dancing Script", cursive;
  font-size: large;
  font-weight: bold;
}
