body {
  width: 100vw;
  height: 100vh;
}

.form-container {
  padding: 5%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.form-box {
  width: 50vw;
  height: 83vh;
  padding: 5%;
  border: 4px solid black;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.register-button {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: cadetblue;
}

.register-button:hover {
  color: white;
}

input {
  align-items: center;
  width: 30vw;
  height: 5vh;
  margin: 10px 0;
}
.input-wrap {
  margin-left: 20px;
  padding-left: 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 50px;
}

.input-wrap label {
  position: relative;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top right;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  line-height: 12vh;
  left: -80px;
  bottom: 80px;
}

.error {
  position: absolute;
  text-align: left;
  color: red;
  left: 8%;
  font-size: 11px;
  bottom: 80%;
}
