body {
  width: 100vw;
  height: 100vh;
}

.form-container {
  padding: 5%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.form-box {
  width: 48vw;
  height: 70vh;
  padding-right: 6%;
  padding-top: 4%;
  border: 1px solid black;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.register-button {
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: cadetblue;
}

.register-button:hover {
  color: white;
}

input {
  align-items: center;
  width: 30vw;
  height: 5vh;
  margin: 10px 0;
}

.input-wrap {
  display: flex;
  justify-content: right;
  align-items: center;
  position: relative;
  height: 50px;
}

/* .input-wrap label {
  position: relative;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top right;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  line-height: 12vh;
  left: -200px;
  bottom: 80px;
} */

.input-wrap label {
  /* position: relative; */
  /* pointer-events: none; */
  /* transform: translate(0, 23px) scale(1);
  transform-origin: top right;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #6f81a5;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  line-height: 12vh; */
  /* left: -10vh;
  bottom: 60px; */
  display: flex;
  justify-content: right;
  align-items: center;
}

.error {
  position: absolute;
  text-align: right;
  color: red;
  left: 8%;
  font-size: 11px;
  bottom: 80%;
}

.label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.label1 {
  margin-right: 1%;
}
.login-button {
  display: block;
  margin: 5px auto;
}
